<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 如果用了multi-adapt.js就注释这句meta -->
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"> -->
	<script src="http://m.yeyeapp.in/koa-v2/public/lib/flexible.js"></script>
	<link rel="stylesheet" href="http://m.yeyeapp.in/koa-v2/public/lib/normalize.css">
	<link rel="stylesheet" href="http://m.yeyeapp.in/koa-v2/public/lib/cropper.min.css">
	<link rel="stylesheet" href="http://m.yeyeapp.in/koa-v2/public/styles/common.css">
	<title>制作一张温馨的母亲节海报</title>
</head>
<body>
	<div id='image-show'>
		<img src="http://m.yeyeapp.in/koa-v2/public/image/init-image.jpg" alt="image-init">
	</div>
	<div id="loading-bg"></div>
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
	<div id="input-group">
		<span class="input-span">上传我和妈妈的合照</span>
		<input id="input-image" type="file" accept="image/jpeg,image/png">
	</div>
	<section>
		<span>今天不&nbsp<span id="text-replace">__ __</span>，在家陪妈妈</span>
		<ul id="label-group"></ul>
		<span class="remind">选择一个标签，合成母亲节海报</span>
	</section>
	<div id="produce-image"></div>
	<img id="bg-image" src="http://m.yeyeapp.in/koa-v2/public/image/bg-image-640.jpg">
	<img id="fork" src="http://m.yeyeapp.in/koa-v2/public/image/fork.jpg" alt="fork">
	<button id="produce-button" disabled>请先上传图片和选择标签</button>
	<div class="progress-total">
		<span></span>
		<div class='progress-now'></div>
	</div>
	<script src="http://m.yeyeapp.in/koa-v2/public/lib/jquery.min.js"></script>
	<script src="http://m.yeyeapp.in/koa-v2/public/lib/cropper.min.js"></script>
	<script src="http://m.yeyeapp.in/koa-v2/public/scripts/qiniu-ajax.js"></script>
	<script>
	var labelContent = ['加班','撩妹','泡吧','约会','啪啪','打怪','煲剧','败家','约炮','上朝'];

	// 坑爹问题：
	// 安卓微信浏览器对base64的排斥；
	(function($){
		var deviceWidth = document.documentElement.clientWidth;
		//  调用File Read API读取上传后的图片
		function imageShow( e ){
			e = e || window.event;
			//  filelist object
			var imageFile = e.target.files[0];
			if( !imageFile.type.match( /image\/.*/i ) ){
				alert( "您上传了非图片文件！" );
			}
			var reader = new FileReader();

			//  读取开始时触发
			reader.onloadstart = function( imageFile ){
				$('.spinner').css('visibility','visible');
				$('#loading-bg').css('visibility','visible');
			}

			//  读取完成触发，无论成功或失败
			reader.onloadend = function( imageFile ){
				$('.spinner').css('visibility','hidden');
				$('#loading-bg').css('visibility','hidden');
				$('.input-span').html('重新上传');
				if($('#text-replace').html() == '__ __'){
					$('#produce-button').html('请先选择一个标签');
				}else {
					$('#produce-button').html('生成我和母后的海报');
				}
				$('.input-span').css({
					'color':'#84848c',
					'background-color':'#ebebeb'
				});
				$('#input-group').css({
					'border-bottom':'.1rem solid #84848c',
					'border-right':'.08rem solid #84848c'
				});
			}

			//  文件读取成功完成时触发
			reader.onload = function( imageFile ){
				$("#image-show > img").remove();
				$(".cropper-container").remove();
				if($('#text-replace').html() != '__ __'){
					$('#produce-button').attr('disabled',false);
				}
				$("#image-show").append('<img src="' + this.result + '" alt="' + imageFile.name + '">');
				$('#image-show > img').cropper({
					dragMode: 'move',
      					aspectRatio: 1,
      					toggleDragModeOnDblclick: false,
      					minCanvasWidth: deviceWidth*0.6,
      					minCanvasHeight: deviceWidth*0.6,
      					minCropBoxWidth: deviceWidth*0.4,
					built: function(){
						$(this).cropper( 'setCropBoxData', {
							width: deviceWidth*0.5
						});
					}
				});
			}
			reader.readAsDataURL( imageFile );
		}
		if( window.File && window.FileList && window.FileReader && window.Blob ){
			//  绑定上传图片事件
			$("#input-image").change( imageShow );
		}else{
			alert('浏览器不支持File API!');
		}

		//  canvas合成图片
		$('#produce-button').on('click', function(){
			var cropResult = $('#image-show > img').cropper('getCroppedCanvas', {
				width: 398
			});

			//  这里如果用jq获取DOM节点会出错，注意jq跟原生的区别
			var canvas = document.createElement("canvas");
			var bgImage = document.getElementById("bg-image");
			var fork = document.getElementById("fork");
			canvas.width = bgImage.width;
			canvas.height = bgImage.height;
			var ctx = canvas.getContext("2d");
			ctx.drawImage(bgImage,0,0);
			ctx.drawImage(cropResult,125,257,cropResult.width,cropResult.width);
			ctx.font = '42px Microsoft YaHei';
			ctx.fillText($('#text-replace').html(), 230, 705);
			ctx.drawImage(fork,215,655);


			var imageResult = new Image();
			var isIPhone = window.navigator.appVersion.match(/iphone/gi);

			// if(isIPhone){
			// 	localStorage.imageSrc = canvas.toDataURL("image/jpeg");
			// 	window.location.href = '/koa-v2/momsDay/produce';
			// } else {
				//  安卓机上传到七牛
    				var demo = qiniu.post(canvas.toDataURL("image/jpeg"), '<%= uptoken %>', null, "http://upload.qiniu.com/", function (data) {
    					var domain = 'http://7xlwto.com2.z0.glb.qiniucdn.com/';
    					// convert json string to json object
    					var data = eval('('+data+')');
    					localStorage.imageSrc = domain + data.hash;
					window.location.href = '/koa-v2/momsDay/produce';			
    				}, function (evt) {
    					if (evt.lengthComputable) {
	    					var percentComplete = Math.round(evt.position * 100 / evt.totalSize);
	    					$('.progress-total').css('display', 'block');
	    					$('.progress-total > span').html(percentComplete+'%');
	    					$('.progress-now').css('width',percentComplete+'%');
    					}
    				});
			// }
		});

		//  遍历生成li标签
		for (var i = 0; i < labelContent.length; i++) {
			$("#label-group").append('<li>' + labelContent[i] + '</li>');
		}

		//  li标签选择事件监听
		$("#label-group > li").on('click', function(){
			if($(".cropper-container").html() != undefined){
				$('#produce-button').attr('disabled',false);
				$('#produce-button').html('生成母亲节海报');
			}else {
				$('#produce-button').html('请先上传图片');
			}
			$("#label-group > li").css({
				'background-color':'#f9bec2',
			});
			$(this).css({
				'background-color':'#F6369D',
			});
			$('#text-replace').html($(this).html());
		});
	})(jQuery);

	</script>
	<script>var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259021510'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1259021510' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>
